# On Tag: Deploy to GitHub Package Registry and create a Release
name: "Deploy Release"

on:
  push:
    tags:
      - "v**"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 1.8
      uses: actions/setup-java@v4
      with:
        java-version: 1.8
    - name: "Set Version"
      # Replace ProjectVersion with git-tag, but cutoff first character  ('v')
      run: |
        version=$(git tag --points-at HEAD | sed 's/^v//')
        mvn versions:set -DnewVersion=${version}
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Publish to GitHub Packages Apache Maven
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: mvn deploy
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1.1.4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false
